.page-component {
  &__input-field-container, &__table-container, &__map-container {
    width: 100%;
  }
  &__input-field-container {
    height:120px;
  }
  &__table-container {
    height: 220px;
  }
  &__map-container {
    height: 250px;
  }
}